snippet enc
	# -*- coding: utf-8 -*-

snippet uni
	from __future__ import unicode_literals

snippet hed
	# -*- coding: utf-8 -*-
	from __future__ import unicode_literals

snippet prnt
	from __future__ import print_function
