[user]
	name = {{ name }}
	email = {{ email }}
[core]
    pager = less -r
[color]
    ui = true
[help]
    autocomplete = 1
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[push]
    default = current
[credential]
	helper = cache --timeout=3600
[dude]
	icon = ~/dotfiles/git/Git-Icon-1788C.png
