[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/.vim/bundle/vim-css3-syntax"]
	path = vim/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/.vim/bundle/command-t"]
	path = vim/.vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "solarized/solarized"]
	path = solarized/solarized
	url = git://github.com/altercation/solarized.git
[submodule "solarized/gnome-terminal-colors-solarized"]
	path = solarized/gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized
[submodule "solarized/dircolors-solarized"]
	path = solarized/dircolors-solarized
	url = git://github.com/huyz/dircolors-solarized.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
